.element_box{
  width: 40%;
  border: 2.5px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin:auto;
  background-color: #f9fffe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

}

.element_box h2{
    text-align: center;
}

.back_button{
  text-decoration: none;
  color: black;
  text-align: center;
}

.back_button:hover{
  text-decoration: underline;

}